body {
    background: green;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

svg path {
    stroke-dasharray: 15;
    stroke-dashoffset: 25;
    animation: 0.25s dash infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 25;
    }

    to {
        stroke-dashoffset: -3;
    }
}